{% extends "blog/base.html" %}
{% block content %}
  <h1>About this company</h1>
  <div class="jumbotron">
    <div class="container">
      <h1>Designed and Developed By: </h1>
          <h3 class='loader'> <strong>Devandla Bramha Raj Akhil Kumar</strong> </h3>
          <script> var editor = new MediumEditor('.editable'); </script>
    </div>
  </div>

  <p> <strong>Thanks for checking out!</strong> </p>

    <div class="container">
      <footer> <center>
        &copy; Copyright 2021
      </center> </footer>
    </div>

{% endblock %}
